:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.container {
  width: 100%;
  .text-principal {
    margin: auto;
  }
  .rounded-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .rounded-button:hover {
    background-color: #0056b3;
  }
}
